body {
    margin:0;
    font-family: Arial, sans-serif;
    background: url(" photo_2026-02-11_17-33-44.jpg ") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

nav {
    padding: 15px;
    background: rgba(0,0,0,0.7);
}

nav button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #00bcd4;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.section {
    display: none;
    padding: 40px;
}

.section.active {
    display: block;
}

select, #book-btn, #pay-btn {
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

#book-btn, #pay-btn {
    border: none;
    background: #4caf50;
    color: white;
    cursor: pointer;
}

#ticket {
    margin-top: 20px;
    padding: 20px;
    background: rgba(0,0,0,0.7);
    display: none;
}

#googleMap {
    width: 100%;
    height: 500px;
}

/* الصفحة الرئيسية FadeIn */
.home-content {
    background: rgba(0,0,0,0.6);
    display: inline-block;
    padding: 40px 60px;
    border-radius: 15px;
    margin-top: 100px;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1s ease;
}

.home-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.home-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffeb3b;
}

.home-content p {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}